
#header {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 24px;
  position: relative;

  .ant-menu-horizontal {
    position: relative;
    height: 64px;
    display: block;
    background-color: inherit;
    border-bottom: 0 none !important;

    .menu-item-logo {
      height: 100%;

      img {
        margin-right: 16px;
        height: 36px;
        line-height: 64px;
      }

      h5 {
        line-height: 64px;
        font-size: 19px;
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
    }
    .ant-menu-item:hover, .ant-menu-item-selected, .ant-menu-item-active,
    .ant-menu-overflowed-submenu, .ant-menu-submenu-horizontal, .ant-menu-submenu {
      border-bottom: 2px solid transparent !important;
      color: inherit !important;
    }

    .right-menu {
      float: right;
      height: 64px;
      a {
        color: #314659;
        line-height: 64px;
        font-size: 16px;
        float: right;
        text-decoration: none;

        i {
          line-height: 64px;
          font-size: 18px;
          vertical-align: top;
          margin-left: 5px;
          margin-top: -2px;
        }
      }
      a:hover {
        color: rgb(25, 142, 251);
      }
    }
  }
}


