
#header {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 24px;
  position: relative;

  .ant-menu-horizontal {
    position: relative;
    height: 64px;
    display: block;
    background-color: inherit;
    border-bottom: 0 none !important;

    .menu-item-logo {
      height: 100%;

      img {
        margin-right: 16px;
        height: 36px;
        line-height: 64px;
      }

      h5 {
        line-height: 64px;
        font-size: 19px;
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
    }
    .ant-menu-item:hover, .ant-menu-item-selected, .ant-menu-item-active,
    .ant-menu-overflowed-submenu, .ant-menu-submenu-horizontal, .ant-menu-submenu {
      border-bottom: 2px solid transparent !important;
      color: inherit !important;
    }

    .right-menu {
      float: right;
      height: 64px;
      a {
        color: #314659;
        line-height: 64px;
        font-size: 16px;
        float: right;
        text-decoration: none;
      }
      a:hover {
        color: rgb(25, 142, 251);
      }
      span {
        // Vertically center the admin tag: https://www.w3schools.com/howto/howto_css_center-vertical.asp
        font-size: 14px;
        position: absolute;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        float: right;
      }
    }
  }
}


